body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#container{
    height: 400px;
    display: flex;
    align-items: flex-end;
}
.bar{
    width: 10px;
    background-color: black;
    margin: 1px;
}
button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover{
    background-color: rgb(52, 43, 43);
}